
.el-sub-menu__title{
  height: 35px !important;
  line-height: 35px !important;
}
ul li{
  list-style: none
}
.flex_bet{
  display: flex!important;
  justify-content: space-between!important;
}
.grid_align{
  display: inline-block;
  align-items: center;
}

.width100{
  width: 100px!important;
}
.margin010{
  margin: 0 10px;
}